<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165235729359-ag845j53q3u0dt2aq14r0tf4jdo6u73f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165235729359-ag845j53q3u0dt2aq14r0tf4jdo6u73f</string>
	<key>API_KEY</key>
	<string>AIzaSyBD1SxqeGTC9Yp8VUdTArwEHenyd2Re8Ec</string>
	<key>GCM_SENDER_ID</key>
	<string>165235729359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.tuongnt.dentalClinic</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-f3c8a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-f3c8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165235729359:ios:38816679749bc83af228ba</string>
</dict>
</plist>